<div class="flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <%= render Devise::HeaderComponent.new do |component| %>
    <%= component.intro { t('.intro') } %>
  <% end %>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, html: {class: "space-y-6"}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email, class: "block text-sm font-medium text-gray-700 cursor-pointer" %>
          <div class="mt-1">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm" %>
          </div>
        </div>

        <div>
          <%= render(Shared::PrimaryButtonComponent.new.with_content(t('.cta_label'))) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
